* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, lightpink, lightblue);
}

.navbar {
    background-color: #f52761;
    padding: 10px;
}

.container {
    padding: 10px;
}

.book-container {
    padding: 15px;
    width: 25%;
    border: #f52761 solid;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}

.book-container img {
    padding-left: 25%;
    width: 180px;
    height: 200px;
}

.book-container h2 {
    color: #f52761;
}

.book-container button {
    background-color: #f52761;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border: none;

}

.book-container button:hover {
    color: #f52761;
    background-color: black;
    border: #f52761 solid;
}

.book-container a {
    text-decoration: none;
    color: #f52761;
    display: block;
}

.book-container a:hover {
    transform: scale(1.02);
    color: goldenrod;
}

.add-button {
    background-color: #f52761;
    color: black;
    border-radius: 100%;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.add-button:hover {
    transform: scale(1.1);
}

.popup-overlay {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 1;
    display: none;

}

.popup-box {
    background-color: #f52761;
    width: 40%;
    padding: 40px;
    position: absolute;
    top: 30%;
    left: 30%;
    border-radius: 10px;
    z-index: 2;
    display: none;
}

.popup-box input {
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black;
}

.popup-box textarea {
    background: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black;

}

.popup-box input::placeholder {
    color: black;
}

.popup-box textarea::placeholder {
    color: black;
}

.popup-box button {
    background-color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    margin: 10px;
    border-radius: 5px;
}

.popup-box button:hover {
    transform: scale(1.05);
}

.popup-box input:focus {
    outline: none;
}

.popup-box textarea:focus {
    outline: none;
}

.searchBar {
    text-align: center;
    margin-top: 20px;
}

#search {
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    border: solid #f52761;
    background-color: black;
    color: white;
    font-size: 16px;
}

.searchBar input::placeholder {
    color: white;
}

.update-pages {
    border: solid #f52761;
    background: transparent;
    color: white;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.update-pages::placeholder {
    color: white;

}

@media screen and (max-width: 1000px) {
    .book-container {
        width: 40%;
        margin: 20px auto;
    }

    .book-container img {
        width: 120px;
        height: 150px;
        padding-left: 0;
        display: block;
        margin: 0 auto;
    }

    .popup-box {
        width: 80%;
        left: 10%;
        top: 20%;
        padding: 25px;
    }
    
    .add-button {
        padding: 12px 16px;
        font-size: 30px;
        bottom: 20px;
        right: 20px;
    }
}

@media screen and (max-width: 500px) {
    .book-container {
        width: 90%;
        margin: 20px auto;
    }

    .book-container img {
        width: 120px;
        height: 150px;
        padding-left: 0;
        display: block;
        margin: 0 auto;
    }

    #search {
        width: 80%;
        font-size: 14px;
    }

    .popup-box {
        width: 90%;
        left: 5%;
        top: 15%;
        padding: 20px;
    }

    .popup-box input,
    .popup-box textarea {
        font-size: 16px;
    }

    .add-button {
        font-size: 28px;
        padding: 10px 14px;
    }
}

@media screen and (max-width: 360px) {
    .book-container img {
        width: 100px;
        height: 130px;
    }

    .add-button {
        bottom: 15px;
        right: 15px;
    }
}